@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url(./normalize.css);

:root {
    --primary-color: #7E57C2;
    --secondary-color: #1D2B3A;
    --warnging-color: #FFBD00;
    --error-color: #D62839;
    --font-color: white;
    --font-dark-color: #8E959D;
    --check-color: #549F93;
}

*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    min-height: 390px;
    overflow: hidden;
}

.content {
    display: flex;
}

/* Side bar start */

.side-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    width: 35vw;
    height: 100vh;
    min-height: 390px;
}

.side-info img {
    margin: 0 20px;
}

.side-info a {
    text-decoration: none;
    color: var(--secondary-color);
}

.brand-info {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.credits {
    align-self: center;
    justify-self: baseline;
    position: fixed;
    bottom: 0;
}

.side-info h1,
.side-info h4 {
    margin: 0;
}

/* Side bar end */

.form-container {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: var(--font-color);
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 100vh;
    min-height: 390px;

}

#form {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: var(--font-color);
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 100vh;
    min-height: 390px;
}

.form-container h1 {
    margin: 0;
}

.login-alternatives {
    display: flex;
    flex-direction: column;
}

.login-alternatives button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    margin: 10px;
    gap: 5px;
    max-width: 280px;
    min-height: 50px;
    border: 2px solid var(--primary-color);
    border-radius: 100px;
    padding: 10px 20px;
    color: var(--font-color);
}


.login-alternatives button:hover {
    scale: 1.1;
    cursor: pointer;
    transition: 0.2s;
}

.login-alternatives button>img {
    width: 20px;
    height: 20px;
    filter: invert(32%) sepia(79%) saturate(627%) hue-rotate(223deg) brightness(100%) contrast(85%);
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    gap: 1vw;
    margin: 10px 20px;
    user-select: none;
}

.separator hr {
    width: 30vw;
}

.separator h5 {
    margin: 0;
}

.form-grid {
    display: grid;
    padding: 30px;
    gap: 40px;
    width: 30vw;
    grid-template-columns: 1fr 1fr;
}

.input-container {
    position: relative;
    height: auto;
}

.input-container input {
    background-color: var(--secondary-color);
    border: none;
    border-bottom: 2px solid var(--font-dark-color);
    margin-bottom: 5px;
    width: clamp(146px, 100%, 270px);
    color: var(--font-color);
}

.input-container button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: var(--font-color);
}

.input-container input:valid {
    color: var(--font-color);
    border-bottom: 2px solid var(--primary-color);
}

.input-container input.invalid {
    color: var(--font-color);
    border-bottom: 2px solid var(--error-color);
}

.input-container input:focus {
    color: var(--font-color);
    outline: none;
    scale: 1.05;
    transition: 0.3s;
}

.input-container input:focus-visible {
    color: var(--font-color);
    outline: none;
    transition: 0.3s;
}


.create-account {
    grid-column-end: span 2;
}

.create-account p {
    font-size: 0.7rem;
}

.create-account p>a {
    color: var(--primary-color);
}

form div>span {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--font-dark-color);
}

form div>h6 {
    margin: 0;
}

.input-container>h6 {
    color: var(--error-color);
    user-select: none;
}

.create-account button:hover {
    cursor: pointer;
    scale: 1.1;
}

.created-check img {
    filter: invert(52%) sepia(63%) saturate(267%) hue-rotate(121deg) brightness(95%) contrast(89%);
}

.disabled {
    display: none;
}


@media (max-width: 615px){
    body{
        width: 100%;
    }
    .side-info{
        display: none;
    }
    .form-container{
        width: 100vw;
    }
    .form-grid{
        display: flex;
        flex-direction: column;
        place-items: center ;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        gap: 45px;
        margin: 20px 0px;
        padding: 0;
    }

}

@media (max-width:420px){
    
    
}